<form #registroForm="ngForm" (ngSubmit)="registrarse(registroForm)">
 
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput placeholder="Nombre de usuario" name="id" [(ngModel)]="id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="introduce la contraseña" name="clave" [(ngModel)]="clave">
  </mat-form-field>
   
    <p>
      <button type="submit"  mat-flat-button color="primary">registrarse</button>
    </p>
    
  </form>

  <form *ngIf="!autenticado" #loginForm="ngForm" (ngSubmit)="(iniciarSesion())">
 
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput placeholder="Nombre de usuario" name="id" [(ngModel)]="idLogin">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="introduce la contraseña" name="clave" [(ngModel)]="claveLogin">
    </mat-form-field>
  
      <p>
        <button type="submit" mat-flat-button color="primary">Iniciar sesion</button>
      </p>
      
    </form>