<!-- <p>{{pelicula?.nombre}}</p>-->
<mat-card class="pelicula">
    <mat-card-header>
      <mat-card-title>{{pelicula?.nombre}}</mat-card-title>
      <mat-card-subtitle>{{pelicula?.nombre_categoria}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="'/topmovies-api/caratulas/c' + pelicula?.id +'.jpg'" class="caratula" alt="Caratula">
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!pelicula?.comprada" mat-button (click)="AnadirCarrito()">Añadir a carrito</button>
      <button *ngIf="pelicula?.comprada" mat-button (click)="AnadirCarrito()">Ver</button>
      <span *ngIf="!pelicula?.comprada">{{pelicula?.precio}}$</span>
    </mat-card-actions>
  </mat-card>
